{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - Home </title>
{% endblock %}
{% block HEAD %}
  <link rel="stylesheet" href="/static/css/home.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
    <img id="cpic" src="/static/images/aboutus.jpg"/>
  </div>
  <div id="cright">
    You have reached the website of the artist ANNA MIR.<p>
      I'm represented by Newmark Gallery San Francisco.<p>
      My artwork can also be seen by appointment in my studio in San Francisco, CA.
  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
