{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - Portfolio</title>
{% endblock %}
{% block HEAD %}
    <link rel="stylesheet" href="/static/css/folio.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
      <figure>
	<a href="/portfolio/main" title="main"><img id="main" src="/static/images/tn/golf/golf1.jpg"></img></a>
      </figure>

      <figure>
	<a href="/portfolio/golf" title="golf"><img src="/static/images/tn/golf/golf5.jpg"></img></a>
      </figure>
      <figure>
	<a href="/portfolio/waterscapes" title="waterscapes"><img src="/static/images/tn/waterscapes/wat1.jpg"></img></a>
      </figure>
      <figure>
	<a href="/portfolio/landscapes" title="landscpapes"><img src="/static/images/tn/landscapes/land1.jpg"></img></a>
      </figure>
      <figure>
	<a href="/portfolio/poms" title="poms"><img src="/static/images/tn/poms/pom1.jpg"></img></a>
      </figure>
      <figure>
	<a href="/portfolio/skyscrapers" title="skyscrapers"><img src="/static/images/tn/skyscrapers/sky1.jpg"></img></a>
      </figure>
      <figure>
	<a href="/portfolio/textures" title="textures"><img src="/static/images/tn/textures/tex1.jpg"></img></a>
      </figure>
  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
